.gdbar img {
  width: 120px !important;
  height: 62px !important;
  margin: 8px 8px;
}

.gdbar {
  width: 300px !important;
  height: 100px !important;
}

slides > slide:not(.nobackground):before {
  width: 120px;
  height: 62px;
  background-size: 120px 62px;
}
